.wrapper
  = @user.name
.history
  -@histories.each_with_index do |history, id|
    .histories
      = id+1
      = history.book.title
      = history.price
      円
      = history.created_at.strftime("%Y/%m/%d %H:%M")
  
    