-@videos.each do |video|
  .search_content
    .search_content__image
      = link_to  image_tag video.image.url,class: "search__index__image" if video.image.present?
    .search_conent__title
      = link_to "#{video.title}".truncate(40,omission:"..."),"/videos/#{video.id}",class: "title__text"
    .search_conent__user
      = link_to "#{video.user.name}","/videos/#{video.id}",class: "user__text"
    .search_conent__info
      = link_to "#{video.information}","/videos/#{video.id}",class: "info__text"