.show__wrapper
  = video_tag @video.video,loop: true, controls: true ,class: "show__video" if @video.video.present?
  .show__video__title
    =@video.title
    .show__video__id
      1500回視聴
    .show__video__user
      投稿者(ユーザーの画像に変更):
      =@video.user.name
    .show__video__book
      =link_to "購入画面へ進む",root_path,class:"shop__link"
  -@videos.each do |video|
    .show__contents
      .show__contents__image
        = link_to image_tag video.image.url,href:"/videos/#{video.id}",class: "show__image" if video.image.present?
      .show__conents__title
        = link_to "#{video.title}".truncate(27,omission:"..."),"/videos/#{video.id}",class: "show__text"
        = link_to "#{video.user.name}","/videos/#{video.id}",class: "index__user"

      