!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FindBooks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{src:"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      -if user_signed_in?
        .header
          
          .header__left
            =link_to "FindBook",root_path,class: "index__title"
          .search__top
            = form_tag(videos_path,method: :get) do
              =text_field_tag :search, nil,class:"saerch__field",placeholder:"タイトルで探す"
              =submit_tag 'Search', name: :nil,class:"saerch__bottun"
          .header__right       
            =link_to "新規投稿","/videos/new",class: "list"           
            =link_to "ログアウト","/users/sign_out", class:"list",method: :delete
            =link_to "購入履歴", "/users",class:"list"
            =link_to "マイページ", "/users/#{current_user.id}",class:"list"


      -else
        .header
          .header__left
            =link_to "FindBook",root_path
          .header__right
            %ul
              %li
                =link_to "ログイン", new_user_session_path
              %li 
                =link_to "新規登録", new_user_registration_path
      = yield
