!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FindBooks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{src:"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src:"<$MTStaticWebPath$>data-api/v3/js/mt-data-api.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body
    -if user_signed_in?
      .header
        .inner
          .header__left
            %i.fas.fa-book
            %span
              =link_to "FindBooks",root_path,class: "title"
          
          .header__right
            %li
              =link_to "新規投稿","/videos/new"
            %li
              =link_to "ログアウト","/users/sign_out",method: :delete
            %li
              =link_to "動画編集", "/users"
            %li
              =link_to "購入履歴", "/users/#{current_user.id}/history"
            %li
              =link_to "利益表", "/users/#{current_user.id}/profit"

    -else
      .header
        .inner
          .header__left
            %i.fas.fa-book
            %span
              =link_to "FindBooks",root_path,class: "title"
          .header__right2
            %li
              =link_to "ログイン", new_user_session_path
            %li 
              =link_to "新規登録", new_user_registration_path





      -# .header
      -#   .header__left
      -#     =link_to "FindBooks",root_path,class: "index__title"
      -#   .header__right
      -#     %ul
      -#       %li
      -#         =link_to "ログイン", new_user_session_path,class:"list"
      -#       %li 
      -#         =link_to "新規登録", new_user_registration_path,class:"list"
    = yield
