!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FindBooks
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -if user_signed_in?
      .header
        .header__left
          =link_to "FindBook",root_path
        .header__right
          %ul
            %li
              =link_to "マイページ", "/users"
            %li 
              =link_to "新規投稿","videos/new"
            %li
              =link_to "ログアウト","users/sign_out", method: :delete
            
    -else
      .header
        .header__left
          =link_to "FindBook",root_path
        .header__right
          %ul
            %li
              =link_to "ログイン", new_user_session_path
            %li 
              =link_to "新規登録", new_user_registration_path
    = yield
